/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-page-color: #000028;
  --lamp-color: #FF0070;
  --buttons-color: #FF0070;
  --buttons-opacity-color:  rgba(255, 0, 112, 0.5);
  --brand-title-color: #DB00FF;
  --brand-text-shadow-color: #FF0070;
  --brand-subtitle-color: #000028;
  --brand-subtitle-back-color: #FF0070;
  --main-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --link-text-color: #F1B2CE;
  --link-text-shadow-color: #FF0070;
  --main-subtitle-color: #000028;
  --main-subtitle-back-color: #FF0070;
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}



