/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-page-color: #000028;
  --lamp-color: #FF0070;
  --buttons-color: #FF0070;
  --buttons-opacity-color: rgba(255, 0, 112, 0.5);
  --h1-title-color: #DB00FF;
  --h1-text-shadow-color: #FF0070;
  --h1-subtitle-color: #000028;
  --h1-subtitle-back-color: #FF0070;
  --h2-title-color: #FF0070;
  --h4-title-color: #000028;
  --h4-back-color: #FF0070;
  --main-text-color: #F1B2CE;
  --link-text-color: #F1B2CE;
  --link-text-shadow-color: #FF0070;
  --h3-title-color: #000028;
  --h3-back-color: #FF0070;
  --link-size: 18px;
  --text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}




