/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-page-color: #000028;
  --lamp-color: #FF0070;
  --buttons-color: #FF0070;
  --buttons-opacity-color:  rgba(255, 0, 112, 0.5);
  --brand-title-color: #DB00FF;
  --brand-text-shadow-color: #FF0070;
  --brand-subtitle-color: #000028;
  --brand-subtitle-back-color: #FF0070;
  --main-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --link-text-color: #F1B2CE;
  --link-text-shadow-color: #FF0070;
  --main-subtitle-color: #000028;
  --main-subtitle-back-color: #FF0070;
  --link-size: 18px;
  --text-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size-desktop-tablet: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}